#main-content {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

body {
  background: indigo; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(violet,indigo,indigo,violet); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(violet,indigo,indigo,violet); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(violet,indigo,indigo,violet); /* For Firefox 3.6 to 15 */
background: linear-gradient(violet,indigo,indigo,violet); /* Standard syntax */
}

.main-components  {
    background-color: #f2ccff;
}
.gameboy {
  position: absolute;
  width: 110%;

}
.skills {
    /*position: absolute;*/
    height: 600px;
}


#screen-text {
  position: relative;
  font-family: 'Press Start 2P';
  width: 150px;
  font-size: 15px;
  left: 160px;
  top: 60px;
}

#d-pad {
  width: 75px;
  position: relative;
  height: 75px;
  top: 160px;
  left: 110px;
}
