#main-content {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

body {
  background: indigo; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(violet,indigo,indigo,violet); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(violet,indigo,indigo,violet); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(violet,indigo,indigo,violet); /* For Firefox 3.6 to 15 */
background: linear-gradient(violet,indigo,indigo,violet); /* Standard syntax */
}

.main-components  {
    background-color: #f2ccff;
}
.gameboy {
  position: relative;
}

#gameboyimage {
  margin-top: 20px;
  height: 328px;
  width: 420px;
  min-width: 420px;
}

.gameboytxt {
  position: absolute;
  top: 100px;
  left: 115px;
  width: 190px;
  text-align: center;

}

.skills {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

#d-pad {
  position: absolute;
  /*background-color: red;*/
  height: 35px;
  width: 56px;
  left: 26px;
  top: 275px;
  /*opacity: 0.6;*/

}

#buttons {
  position: absolute;
  height: 40px;
  width: 65px;
  left: 328px;
  top: 248px;

}
.none {
  display: none;
}
.fuzzy {
  width: 220px;
  position: absolute;
  left: 100px;
  width: 220px;
  height: 126px;
  overflow: hidden;
  top: 70px;
  border-radius: 5px;

}
.fuzzyimg {
  width: 220px;
}

#powerbtn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 342px;
  left: 315px;
}

.inner-col {
  min-width: 422px;
}
.main-col {
  min-width: 450px;
}
